html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


/* .full-width {
    background-color: blue;
    width: 100%;
}
.container {
    background-color: green;
    width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
.nav {
    background-color: gray;
    width: 100%;
    height: 15px;
} */
.section1 {
	position: sticky;
    background-color: white;
    padding: 0;
    top: 0;
}
.box1 {
    background-color: rgb(9, 41, 9);
	width: 100%;
	height: 100px;
}
.logo {
	width: 200px;
	height: 75px;
	margin: 25px 0 0 50px;
	float: left;
}
.nav1 {
	width: 430px;
	height: 50px;
	float: left;
	margin: 25px 0 0 150px;
}
.about p {
	float: left;
	margin: 12px 0 0 30px;
	color: white;
	font-size: 15px;
}
.home p {
	float: left;
	margin: 12px 0 0 5px;
	color: white;
	font-size: 15px;
}
.shop1 p {
	float: left;
	margin: 12px 0 0 30px;
	color: white;
	font-size: 15px;
}
.news1 p {
	float: left;
	margin: 12px 0 0 30px;
	color: white;
	font-size: 15px;
}
.pages p {
	float: left;
	margin: 12px 0 0 30px;
	color: white;
	font-size: 15px;
}
.contact p {
	float: left;
	margin: 12px 0 0 30px;
	color: white;
	font-size: 15px;
}
.order {
	background-color: #3dbf4c;
	width: 140px;
	height: 50px;
	float: left;
	margin: 25px 0 0 50px;
}
.order :hover {
	
	/* height: 50px;
	width: 140px; */
	background-color: rgb(180, 230, 99);
}
.order p {
	float: left;
	margin: 13px 0 0 20px;
	color: black;
	font-size: 15px;
}
.search {
	background-color: white;
	width: 50px;
	height: 50px;
	float: left;
	margin: 25px 0 0 50px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.icon {	
	float: left;	
	margin:18px 0 0 16px;
}
.account {
	background-color: white;
	width: 50px;
	height: 50px;
	float: left;
	margin: 25px 0 0 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.cart {
	background-color: white;
	width: 50px;
	height: 50px;
	float: left;
	margin: 25px 0 0 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.banner {
    background-color: rgb(9, 41, 9);
    width: 100%;
    height: 350px;
}
.well p {
    color: palegreen;
    font-weight: bold;
    float: left;
    margin: 150px 0 0 100px;
}
.well h1 {
    color: whitesmoke;
    font-size: 70px;
    font-weight: bold;
    float: left;
    margin: 170px 0 0 -300px;
}
.link h1 {
    color: palegreen;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin: 175px 50px 0 0;
}
.link p {
    color: white;
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin: 170px 30px 0 0;
}
.box3 {
	width: 100%;
	height: 800px;
}
.crop {
	width: 200px;
	height: 500px;
	float: left;
	margin: 100px 0 0 70px;
}
.shop {
	width: 600px;
	height: 420px;
	float: right;
	margin: 140px 0 0 70px;
}
.shop p {
	color: #55DD33;
	font-size: 15px;
}
.shop h1 {
	font-size: 60px;
}
.shop h2 {
	font-size: 18px;
	margin: 0 0 0 50px;
}
.shop h3 {
	color: black;
	font-size: 20px;
	line-height: 30px;
}
.shop h4 {
	float: left;
}
.sign img {
	float: right;
	margin: 10px 350px 0 0;
}
.box4 {
    background-color: beige;
    height: 500px;
    width: 100%;
}
.fea p {
    color: green;
    float: left;
    margin: 90px 0 0 600px;
    font-weight: bold;
}
.fea h1 {
    font-size: 50px;
    font-weight: bold;
    float: left;
    margin: 10px 0 0 480px;
}
.cards {
    background-color: beige;
    height: 240px;
    width: 100%;
    float: left;
    margin: 30px 0 0 0;
}
.card1 {
    background-color: white;
    height: 100%;
    width: 380px;
    float: left;
    margin: 0 0 0 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.card1 img {
    float: left;
    margin: 40px 0 0 30px;
}
.card1 h1 {
    font-weight: bold;
    font-size: 30px;
    float: right;
    margin: 50px 60px 0 0;
}
.card1 p {
    font-size: 20px;
    float: left;
    margin: 20px 0 0 30px;
}
.card2 {
    background-color: white;
    height: 100%;
    width: 380px;
    float: left;
    margin: 0 0 0 40px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.card2 img {
    float: left;
    margin: 40px 0 0 20px;
}
.card2 h1 {
    font-weight: bold;
    font-size: 30px;
    float: right;
    margin: 50px 20px 0 0;
}
.card2 p {
    font-size: 20px;
    float: left;
    margin: 20px 0 0 30px;
}
.box5 {
    background-color: whitesmoke;
    height: 700px;
    width: 100%;
}
.box5 h1 {
    font-size: 50px;
    font-weight: bold;
    float: left;
    margin: 100px 0 0 500px;
}
.men {
    height: 420px;
    width: 100%;
    float: left;
    margin: 20px 0 0 0;
}
.fou {
    height: 100%;
    width: 260px;
    float: left;
    margin: 0 0 0 50px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.fou img {
    height: 270px;
    width: 100%;
}
.fou p {
    color: rgb(123, 212, 123);
    float: left;
    margin: 15px 0 0 98px;
    font-weight: bold;
}
.fou h1 {
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin: 15px 0 0 45px;
}
.social {
    height: 20px;
    width: 150px;
    float: left;
    margin: 15px 0 0 50px;
}
.social i {
    float: left;
    margin: 0 0 0 30px;
}
.box17 {
	background-color: #FFFDD0;
	height: 650px;
	width: 100%;
}
.info5 {
	height: 230px;
	width: 100%;
}
.test p {
	color: green;
	float: left;
	margin: 80px 0 0 595px;
}
.feed p {
	color: black;
	font-size: 50px;
	font-weight: bold;
	float: left;
	margin: 10px 0 0 460px;
}
.box20 {
	background-color: green;
	float: right;
	height: 8px;
	width: 8px;
	margin: 56px 490px 0 0;
}
.wili {
	background-color: white;
	height: 280px;
	width: 565px;
	float: left;
	margin: 50px 0 0 70px;
}
.rosa {
	background-color: white;
	height: 280px;
	width: 565px;
	float: right;
	margin: 50px 70px 0 0;
}
.wili img {
	height: 180px;
	width: 150px;
	float: left;
	margin: 50px 0 0 50px;
}
.rosa img {
	height: 180px;
	width: 150px;
	float: left;
	margin: 50px 0 0 50px;
}
.wili h1 {
	float: right;
	margin: 60px 30px 0 0;
	font-size: 20px;
}
.wili b {
	font-size: 25px;
	font-weight: bold;
	float: right;
	margin: 20px 120px 0 0;
}
.wili p {
	color: green;
	float: right;
	margin: 10px 268px 0 0;
}
.rosa h1 {
	float: right;
	margin: 60px 30px 0 0;
	font-size: 20px;
}
.rosa b {
	font-size: 25px;
	font-weight: bold;
	float: right;
	margin: 20px 125px 0 0;
}
.rosa p {
	color: green;
	float: right;
	margin: 10px 268px 0 0;
}
.ques {
    background-color: white;
    height: 700px;
    width: 100%;
}
.ques h1 {
    font-size: 50px;
    font-weight: bold;
    float: left;
    margin: 100px 0 0 500px;
}
.ques h3 {
    font-size: 20px;
    font-weight: bold;
    float: left;
    padding: 10px;
    border: 1px solid black;
    width: 700px;
    float: left;
    margin: 10px 0 0 50px;
}
.ques img {
    float: right;
    margin: -170px 10px 0 0 ;
    height: 500px;
    width: 500px;
}
.box22 {
	background-color: black;
	height: 400px;
	width: 100%;
}
.box22 h1 {
	color: whitesmoke;
	font-size: 40px;
	font-weight: bold;
	float: left;
	margin: 80px 0 0 450px;
}
.box22 p {
	color: whitesmoke;
	font-size: 20px;
	float: left;
	margin: 20px 0 0 400px;
}
#email1 {
	height: 70px;
	width: 600px;
	float: left;
	margin: 20px 0 0 300px;
	border-radius: 5px;
}
#btn5 {
	margin: 20px 0 0 0;
	height: 76px;
	width: 150px;
	border-radius: 5px;
	background-color: lightgreen;
	padding: 3px;
	float: left;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;font-family: "Roboto", sans-serif;
}
#btn5 :hover, #btn5 :focus, #btn5 :active {
	box-shadow: 0 0 20px rgba(0, 0, 0 , 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.box13 {
	height: 700px;
	width: 100%;
}
.box14 {
	height: 75px;
	width: 100%;
	float: left;
	margin: 50px 0 0 0; 
}
.vlog {
	height: 75px;
	width: 300px;
	float: left;
	margin: 0 0 0 500px;
}
.vlog h1 {
	font-size: 55px;
}
.product5 {
	height: 500px;
	width: 100%;
	float: left;
	margin: 40px 0 0 0;
}
.card111 {
	height: 500px;
	width: 350px;
	float: left;
	margin: 0 0 0 80px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.img111 {
	width: 100%;
	height: 250px;
}
.text13 {
	height: 170px;
	width: 100%;
	float: left;
}
.text13 h1 {
	float: left;
	margin: 30px 0 0 30px;
}
.text13 h2 {
	float: left;
	margin: 30px 0 0 50px;
}
.text13 p {
	font-size: 30px;
	float: left;
	color: black;
	margin: 20px 0 0 30px;
}
.date {
	width: 100%;
	height: 80px;
	float: left;
}
.date h1 {
	float: left;
	padding: 20px; 
}
.date h2 {
	float: right;
	padding: 20px;
	color: green;
}
.card222 {
	height: 500px;
	width: 350px;
	float: left;
	margin: 0 0 0 70px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.img222 {
	width: 100%;
	height: 250px;
}
.date2 {
	width: 100%;
	height: 80px;
	float: left;
	margin: 170px 0 0 0;
}
.card333 {
	height: 500px;
	width: 350px;
	float: left;
	margin: 0 0 0 70px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.img333 {
	width: 100%;
	height: 250px;
}
.date3 {
	width: 100%;
	height: 80px;
	float: left;
	margin: 170px 0 0 0;
}
.box16 {
	height: 150px;
	width: 100%;
	float: left;
	margin: 50px 0 0 0;
}
.card1111 {
	width: 305.5px;
	height: 150px;
	float: left;
	margin: 30px 0 0 25px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.card1111 img {
	float: left;
	margin: 40px 0 0 20px;
}
.card1111 h1 {
	float: left;
	margin: 20px 0 0 20px;
	font-size: 25px;
}
.card1111 h2 {
	float: left;
	margin: 10px 0 0 20px;
}
.card2222 {
	background-color: white;
	width: 305.5px;
	height: 150px;
	float: left;
	margin: 50px 0 0 5px;
}
.card3333 {
	background-color: aqua;
	width: 312.5px;
	height: 150px;
	float: left;
	margin: 50px 0 0 5px;
}
.card4444 {
	background-color: aqua;
	width: 312.5px;
	height: 150px;
	float: left;
	margin: 50px 0 0 5px;
}
.footer {
	background-color: #FFFDD0;
	width: 100%;
	height: 470px;
	float: left;
	margin: 100px 0 0 0;
}
.logo-footer {
	width:350px;
	height:400px;
	background-color:#FFFDD0;
	float:left;
	margin: 30px 0 0 45px;
}

.company {
	width: 160px;
	height: 400px;
	background-color: #FFFDD0;
	float:left;
	margin: 30px 0 0 20px;
}

.service{
	width:150px;
	height:400px;
	background-color:#FFFDD0;
	float:left;
	margin: 30px 0 0 2px;
}

.customer{
	width:200px;
	height:400px;
	background-color: #FFFDD0;
	float:left;
	margin: 30px 0 0 25px;
}

.news {
	width: 330px;
	height: 400px;
	background-color:#FFFDD0;
	float:left;
	margin: 30px 0 0 15px;
}
.logo-footer ul {
	background-color: #FFFDD0;
	width: 300px;
	height: 190px;
	float: left;
	margin: 10px 0 0 0;
	list-style: none;
	line-height: 200%;
	font-size: 18px;
}
.logo-footer h1 {
	font-size: 45px;
}
p {
	line-height: 150%;
	font-size: 20px;
}
.company ul {
	background-color: #FFFDD0;
	width: 150px;
	height: 350px;
	float: left;
	margin: 10px 0 0 0;
	list-style: none;
	line-height: 250%;
	font-size: 18px;
}
h3 {
	font-size: 22px;
	margin: 5px 0 0 0;
}
.service ul {
	background-color: #FFFDD0;
	width: 150px;
	height: 350px;
	float: left;
	margin: 10px 0 0 0;
	list-style: none;
	line-height: 250%;
	font-size: 18px;
}
.customer ul {
	background-color: #FFFDD0;
	width: 150px;
	height: 350px;
	float: left;
	margin: 10px 0 0 0;
	list-style: none;
	line-height: 250%;
	font-size: 18px;
}
#email {
	height: 70px;
	width: 250px;
	float: left;
	margin: 0 0 0 5px;
	border-radius: 5px;
}
.payment {
	float: left;
}
.payment ul {
	width: 100px;
	height: 40px;
	float: left;
	margin: 10px 0 0 0;
	list-style: none;
	line-height: 250%;
	font-size: 18px;
}
.img1111 {
	height: 42px;
	width: 330px;
}
.img1111 img {
	width: 100%;
	height: 100%;
}
#btn {
	height: 75px;
	width: 60px;
	border-radius: 5px;
	background-color: lightgreen;
	padding: 3px;
	float: left;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;font-family: "Roboto", sans-serif;
}
#btn:hover, #btn:focus, #btn:active {
	box-shadow: 0 0 20px rgba(0, 0, 0 , 0.5);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}
.box26 {
	background-color: #134f1b;
	height: 100px;
	width: 100%;
	float: left;
}
.box26 h1 {
	font-size: 20px;
	float: left;
	margin: 40px 0 0 30px;
	color: white;
}
.box26 h4 {
	color:#67c5c1ba;
	font-size: 20px;
	float: left;
	margin: 40px 0 0 6px;
}
.box26 h2 {
	font-size: 20px;
	float: left;
	margin: 40px 0 0 6px;
	color: white;
}
.terms-con p {
	color: white;
	float: right;
	margin: 40px 20px 0 0;
	font-size: 14px;
}
.conditionss p {
	float: right;
	margin: 40px 20px 0 0;
	font-size: 14px;
}
.one p {
	float: right;
	margin: 40px 20px 0 0;
	font-size: 14px;
}
.facebook1 {
	height: 20px;
	width: 20px;
	float: left;
}
.twitter {
	height: 20px;
	width: 20px;
	float: left;
	margin: 0 0 0 20px;
}
.linke {
	height: 20px;
	width: 20px;
	float: left;
	margin: 0 0 0 20px;
}
.yt {
	height: 20px;
	width: 20px;
	float: left;
	margin: 0 0 0 20px;
}